@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-transform: capitalize;
  transition: all .2s linear;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:25px;
  min-height: 100vh;
  
  /* background: linear-gradient(90deg, #2ecc71 60%, #27ae60 40.1%); */
}

.container form{
  margin-left: 10px;
  margin-bottom: -75px;
  padding:20px;
  width:700px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
}

.container form .row{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
}

.container form .row .col{
  flex:1 1 250px;
}

.container form .row .col .title{
  font-size: 20px;
  color:#333;
  padding-bottom: 5px;
  text-transform: uppercase;
  
}

.container form .row .col .inputBox{
  margin:15px 0;
}

.container form .row .col .inputBox span{
  margin-bottom: 10px;
  display: block;
}

.container form .row .col .inputBox input{
  width: 100%;
  border:1px solid #ccc;
  padding:10px 15px;
  font-size: 15px;
  text-transform: none;
  border-radius: 10px;
}

.container form .row .col .inputBox input:focus{
  border:1px solid #000;
}

.container form .row .col .flex{
  display: flex;
  gap:15px;
}

.container form .row .col .flex .inputBox{
  margin-top: 5px;
}

.container form .row .col .inputBox img{
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}

.container form .submit-btn{
  width: 100%;
  padding:12px;
  font-size: 17px;
  background: #27ae60;
  border-radius: 10px;
  color:#fff;
  margin-top: 5px;
  cursor: pointer;
}

.container form .submit-btn:hover{
  background: #2ecc71;
}

#bill{
  width: 400px;
  margin-top: -550px;
  /* border: .5px solid #ccc; */
  padding: 10px;
  margin-right: -500px;
  margin-bottom: -50px;
  border-radius: 10px;
  padding-left: 150px;
  margin-left: 20px;
  font-size: 16px;
  line-height: 1.5;
  color: #ccc;
  background-color: rgba(255, 255, 255, 0.3);
  
}

#display-data {
  line-height: 0.5;
  width: 400px;
  height: 550px;
  margin-top: 70px;
  margin-bottom: -50px;
  /* border: .5px solid #ccc; */
  border-radius: 10px;
  /* padding: 10px; */
  padding-left: 20px;
  padding-top: 30px;
  margin-left: 100px;
  font-size: 16px;
  line-height: 1.5;
  color: #ccc;
  background-color: rgba(255, 255, 255, 0.3);
  
}


body::-webkit-scrollbar {
  display: none;
}

#fixed-btn {
  /* display: flex; */
  width: 140px;
    margin: 0.3rem auto 0 auto;
    padding: 12px 20px;
    position: fixed;
    top: 150px;
    left: 1410px;   
    border: #ffffff;
    border-radius: 10px;
    /* background-color: #008cff; */
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}

#fixed-btn:hover {
  background: #c90ccc;
  transform: translateY(3px);
  cursor: pointer;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
  font-size: 1.2rem;
}

/* header .Logo {
    color: azure;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
  } */

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none;
  margin-left: 20px;
}

header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: aliceblue;
  border-radius: 20px;
}

header ul li.active a {
  background: #2b1055;
  color: #fff;
}

header ul li a:hover,
header ul li a:hover {
  background: #fff;
  color: #2b1055;
}


#dialog-box {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
  z-index: 9999;
}
.navbar{
  /* background-color: rgba(74, 74, 74, 0.3); */

  /* background: #242424; */
}

.logo{
margin-left: 0px;
  /* color: #000000; */
  /* background-color: #000000; */
  border: 0px;
  background-color: rgba(23, 23, 23, 0.3);
  background-image: url(logo.png);
  background-size: cover;
  width: 60px;
  height: 60px;
  align-content: flex-end;
  border-radius: 20px;
  cursor: pointer;
}
#dialog-box {
  display: none;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  width: 30%;
  height: 30%;
  text-align: center;
  overflow: auto;
  background-color: rgb(253, 253, 253);
}

#dialog-content {
  background-color: white;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #ffffff;
  width: 80%;
  max-width: 600px;
}

#close-dialog-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #f7f3f3;
  float: right;
  font-size: 18px;
  font-weight: bold;
  width: 140px;
  margin: 0.3rem auto 0 auto;
  background-color: #008cff;
  padding: 12px 20px;
  /* border: #4442be; */
  border-radius: 10px;
  /* cursor: pointer;
  transition: 0.3s; */
}

#close-dialog-button:hover{
  background: #23c93f;
transform: translateY(px);
}

