@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");


:root{
  --main-color : 10, 38, 71;
  --background-image : url('images/bg-2.jpg');
  --font-color : 44, 116, 179;
  --font-size : 15px;
  --h2-font-size: 25px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  background-color: black;
  background-size: cover;
  /* background: linear-gradient(#2b1055,#7597de); */
}

body::-webkit-scrollbar {
  display: none;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
  font-size: 1.2rem;
}

/* header .Logo {
  color: azure;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
} */

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none;
  margin-left: 20px;
}

header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: aliceblue;
  border-radius: 20px;
}

header ul li.active a {
  background: #2b1055;
  color: #fff;
}

header ul li a:hover,
header ul li a:hover {
  background: #fff;
  color: #2b1055;
}

.logo header{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: aliceblue;
}

.logo{
    margin-left: 0px;
    /* color: #000000; */
    /* background-color: #000000; */
    border: 0px;
    background-color: rgba(23, 23, 23, 0.3);
    background-image: url(logo.png);
    background-size: cover;
    width: 60px;
    height: 60px;
    align-content: flex-end;
    border-radius: 20px;
    cursor: pointer;
}

.logo.active{
  bottom: 0;
  opacity: 1;
  transform: ease-in-out 0.5s;
}

.logo.fade{
  bottom: 150px;
  opacity: 0;
  transform: ease-in-out 0.5s;
}

.webmadewell {
  background-color: white;
}
body {
  margin: 0;
}
.sample-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-image: var(--background-image) ; 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sample-header.transition{
  transition: 1.5s;
}

.sample-header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(10, 38, 71,0.7);
  opacity: 0.3;
}
.sample-header-section {
  position: relative;
  padding: 10% 0 10% 15%;
  margin-left: 160px;
  width: 100%;
  left: auto;
  right: auto;
  color: white;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  font-family: "Montserrat", sans-serif;
  display: inline-block;
}


.sample-header-section2 {
  position: relative;
  padding: 10% 0 10% 15%;
  max-width: 800px;
  margin-left: 20px;
  background-color: white;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 80px;
}
h2 {
  justify-content: center;
  font-weight: 60px;
}
.sample-section-wrap {
  position: relative;
  background-image: var(--background-image);
}
.sample-section {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 40px 20px 40px;
}

.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(var(--main-color),0.7);
  transition: 1.5s;
}


.gallery {
  display: flex;
  transition: 0.3s;
}
.gallery:hover .gallery__image {
  filter: grayscale(1);
}
.gallery__column {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.gallery__link {
  margin: 2px;
  overflow: hidden;
}
.gallery__link:hover .gallery__image {
  filter: grayscale(0);
}
.gallery__link:hover .gallery__caption {
  opacity: 1;
}
.gallery__thumb {
  position: relative;
}
.gallery__image {
  display: block;
  width: 100%;
  transition: 0.3s;
  padding: 5px;
}
.gallery__image:hover {
  transform: scale(1.1);
}
.gallery__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 25px 15px 15px;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: white;
  opacity: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(255, 255, 255, 0) 100%);
  transition: 0.3s;
}

.scrollTop {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 60px;
  height: 60px;
  background: url(btt.png);
  border-radius: 50%;
  background-size: 40px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 100000;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.scrollTop.active {
  visibility: visible;
  opacity: 1;
}

.preview-box{
  position: fixed;
  max-width: 950px;
  z-index: 5;
  max-height: 700px;
  width: 100%;
  top: 12%;
  left: 20%;
  background-color: rgb(var(--main-color));
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
  opacity: 0;
  pointer-events: none;
}

.preview-box.show{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.3s ease;
  backdrop-filter: blur(5px);
}

.shadow{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
  background: rgba(0,0,0,0.4);
}

.preview-box .details{
  display: flex;
  justify-content: space-between;
  padding: 12px 15px 12px 10px;
  align-items: center;

}



.preview-box .image-box{
  display: flex;
}

.image-box .slide{
  position : absolute;
  top : 50%;
  transform: translateY(-50%);
  font-size: 50px;
  cursor: pointer;
  z-index: 3;
  color : #fff;
  width: 60px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  opacity: 0.2;
}


.image-box .slide.prev{
  left:0;
  opacity: 0.2;
}

.image-box .slide.prev:hover{
  opacity: 1;
  transition: 0.5s;
}

.image-box .slide.next{
  right:0;
  opacity: 0.2;
}

.image-box .slide.next:hover{
  opacity: 1;
  transition: 0.5s;
}

.preview-box .details .icon{
  color: white;
  cursor: pointer;
  font-size: 30px;
  opacity: 0.2;
}

.preview-box .details .icon:hover{
  opacity: 1;
  transition: 0.5s;
}


.details .title{
  display: flex;
  font-size: 18px;
  color: #fff;
  font-weight: 400;
}

.details .title p{
  margin: 0 5px;
}

.details .title p.current-img{
  font-weight: 500;
}

.description-box {

  position: relative;
  top: 20px;
  left: 20px;
  padding: 20px;
  justify-content: center;
  color: rgb(var(--font-color));
  max-height: 300px;
  

}

.description-box p{
  font-size: var(--font-size);
  padding-bottom: 10px;
  padding-right: 10px;
}


.description-box h2{
  padding-bottom: 20px;
  font-size: var(--h2-font-size);
}


.image-box img{
  float: left;
  max-height: 500px;
  max-width: 500px;
}

.image-box .description-box{
  max-height: 400px;
  max-width: 500px;
}

.theme-selector{
  position: fixed;
  top: 20px;
  right: -160px;
  padding: 10px;
  background: rgb(var(--main-color));
  z-index: 2000000;
  transition: 1.2s;
}

.theme-selector.active{

  right: 0;
  transition: 1.2s;
  
}

.theme-selector h3{
  color: white;
  font-size: 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid white;
  text-align: center;
  opacity: 1;
}

.theme-selector .switcher-btn{
  position: absolute;
  top:0;
  left: -45px;
  color: white;
  background: rgb(var(--main-color));
  border-radius:5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 25px;

}

.theme-selector .switcher-btn i{
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  100%{
    transform: rotate(360deg) ;
  }
  
}

.theme-selector .theme-button-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;

}

.theme-selector .theme-button-container .theme-buttons{
  display: block;
  height: 25px;
  width: 25px; 
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  

}

.theme-selector .theme-button-container .theme-buttons.active{
  border: 2px solid #fff;
}



.font-container{
  display: flex;
  align-items: last baseline;
  justify-content: space-evenly;
  color: #fff;
  opacity: 1;
}

.font-container .font-1{
  font-weight: 400;
  font-size: medium;
  bottom: 0;
  cursor: pointer;
}


.font-container .font-2{
  font-weight: 400;
  font-size: larger;
  bottom: 0;
  cursor: pointer;
}

.font-container .font-3{
  font-weight: 400;
  font-size: x-large;
  bottom: 0;
  cursor: pointer;
}

.scrollTop {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 60px;
  height: 60px;
  background: url(btt.png);
  border-radius: 50%;
  background-size: 40px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 100000;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.scrollTop.active {
  visibility: visible;
  opacity: 1;
}

/* #fixed-btn {
  position: fixed;
  top: 150px;
  right: -10px;
  background-color: #008cff;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
} */

#fixed-btn {
  /* display: flex; */
    margin: 0.3rem auto 0 auto;
    padding: 12px 20px;
    position: fixed;
    top: 150px;
    right: -10px;
    border: #ffffff;
    border-radius: 10px;
    /* background-color: #008cff; */
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}

#fixed-btn:hover {
  background: #0ccc2c;
  transform: translateY(3px);
  cursor: pointer;
}




