* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", "sans-serif";
}

.container
{
  width: auto;
  height: 100vh;
  background-image: url(madusara.jfif);
  display: flex;
  align-items: center;
  padding-top: 90px;
  justify-content: center;
}

form {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
}

form h3 {
  padding-left: 170px;
  align-items: center;
  color: rgb(226, 43, 43);
  font-weight: 800;
  margin-bottom: 20px;
}

form input,
form textarea {
  border: 0;
  border-radius: 15px;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background: aliceblue;
  font-size: 16;
}

form button {
  padding: 15px;
  background: #ff5361;
  color: #fff;
  font-size: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 30px;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
  font-size: 1.2rem;
}

/* header .Logo {
  color: azure;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
} */

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none;
  margin-left: 20px;
}

header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: aliceblue;
  border-radius: 20px;
}

header ul li.active a {
  background: #2b1055;
  color: #fff;
}

header ul li a:hover,
header ul li a:hover {
  background: #fff;
  color: #2b1055;
}

body::-webkit-scrollbar {
  display: none;
}