@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");

* {
  /* background-color: #141414; */
  /* backdrop-filter: blur(1px); */
background-color: rgba(34, 34, 34, 0.3);
background-size: cover;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", "sans-serif";
}

h1 {
  color: white;
  padding-top: 140px;
  text-align: center;
  font-size: 40px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input {
  padding-top: 100px;
  background-color: #fff;
  width: 600px;
  margin-left: 480px;
  font-size: 20px;
  padding: 16px 16px;
  border-radius: 10px;
  border-color: black;
  margin-bottom: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

textarea {
  background-color: white;
  width: 600px;
  margin-left: 480px;
  font-size: 20px;
  padding: 16px 16px;
  border-radius: 10px;
  border-color: black;
  margin-bottom: 25px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input:focus-widthin {
  outline: none;
  border-color: rgb(255, 127, 127);
  border-width: 3px;
}

button {
  display: flex;
    margin: 0.3rem auto 0 auto;
    padding: 12px 20px;
    border: #ffffff;
    border-radius: 10px;
    background-color: #008cff;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
  background: #0ccc2c;
  transform: translateY(3px);
  cursor: pointer;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
  font-size: 1.2rem;
}

/* header .Logo {
  color: azure;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
} */

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none;
  margin-left: 20px;
}

header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: aliceblue;
  border-radius: 20px;
}

header ul li.active a {
  background: #2b1055;
  color: #fff;
}

header ul li a:hover,
header ul li a:hover {
  background: #fff;
  color: #2b1055;
}

body::-webkit-scrollbar {
  display: none;
}