@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    min-height: 100vh;
    height: 100%;
    overflow: hidden;
    background: url(./images/bg-5.jpg) no-repeat center center fixed;
    background-size: cover;
    margin: 0;
  }

  .overlay{
    position: absolute;
    height: 100%;
    width:100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
  }
  
  body::-webkit-scrollbar {
    display: none;
  }
  
  header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    font-size: 1.2rem;
  }
  
  /* header .Logo {
    color: azure;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
  } */
  
  header ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  header ul li {
    list-style: none;
    margin-left: 20px;
  }
  
  header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: aliceblue;
    border-radius: 20px;
  }
  
  header ul li.active a {
    background: #2b1055;
    color: #fff;
  }
  
  header ul li a:hover,
  header ul li a:hover {
    background: #fff;
    color: #2b1055;
  }
  
  .logo header{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;
  }
  
  .logo{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
  }
  
  .logo.active{
    bottom: 0;
    opacity: 1;
    transform: ease-in-out 0.5s;
  }
  
  .logo.fade{
    bottom: 150px;
    opacity: 0;
    transform: ease-in-out 0.5s;
  }
  
  .webmadewell {
    background-color: white;
  }


  .container {
    position: relative;
    top: 120px;
    left: 630px;
    width: 700px;
    height: 550px;
    line-height: 30vw;
    text-align: center;
    color: #252b37;
    background-color: #151823;
    animation: textColor 10s ease infinite;
    border-radius: 8%;
    /* box-shadow: 5px 10px 50px 30px black; */
}
.container::after {
    position: absolute;
    content: "";
    top: 50px;
    left: 0px;
    right: 0;
    z-index: -1;
    height: 580px;
    width: 800px;
    margin: 0 auto;
    transform: scale(0.75);
    -webkit-filter: blur(5vw);
    -moz-filter: blur(5vw);
    -ms-filter: blur(5vw);
    filter: blur(5vw);
    background: linear-gradient(270deg, #0fffc1, #7e0fff);
    background-size: 200% 200%;
    animation: animateGlow 10s ease infinite;
}
@keyframes animateGlow {
    0% {
        background-position: 0% 50%;
   }
    50% {
        background-position: 100% 50%;
   }
    100% {
        background-position: 0% 50%;
   }
}
@keyframes textColor {
    0% {
        color: #7C83FD;
   }
    50% {
        color: white;
   }
    100% {
        color: #7C83FD;
   }
}

#fixed-btn {
  /* display: flex; */
    margin: 0.3rem auto 0 auto;
    padding: 12px 20px;
    position: fixed;
    top: 150px;
    right: -10px;
    border: #ffffff;
    border-radius: 10px;
    background-color: #008cff;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}

#fixed-btn:hover {
  background: #0ccc2c;
  transform: translateY(3px);
  cursor: pointer;
}

.text-container{
    position: absolute;
    display: block;
    max-width: 600px;
    justify-content: center;
    text-align: center;
    top: 220px;
    left: 18px;
    font-size: 82px;
    color: white;
    
}

.text-container p{
    font-size: 16px;
    padding: 15px; 
    color: #8FD6E1;
}

.text-container h5{
    color: #8FD6E1;
}

.text-container p,.text-container h5{
    opacity: 0;
}


.text-container .animate__fadeInDown {
    animation: fadeInDown 1.5s ease-out forwards;
  }
  
.text-container .animate__fadeInUp {
    animation: fadeInUp 1.5s ease-out forwards;
  }
  
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }
  #fixed-btn {
    /* display: flex; */
    width: 140px;
    margin: 0.3rem auto 0 auto;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 12px 20px;
    position: fixed;
    top: 150px;
    right: -10px;
    border: #ffffff;
    border-radius: 10px;
    /* background-color: #008cff; */
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #fixed-btn:hover {
    background: #0c89cc;
    transform: translateY(3px);
    cursor: pointer;
  }

