*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

section{
    background: #000000;
}
 .editor p{
    
    background: #000000;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    padding-left: 10px;
    
 }